{% extends "blog/base.html" %}

{% block link %}
<style>
    form{
       width:90%;
       max-width:600px;
       margin:auto; 
    }
    label{
        margin-bottom:1rem;
    }
</style>
{% endblock %}

{% block content %}
  <form action="" method="post">
      <label>Enter your email to reset your password.</label>
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-primary btn-lg" value="Reset password">
  </form>
{% endblock %}